<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appmarket.market.mapper.TbAppStoreMapper" >
  <resultMap id="BaseResultMap" type="com.appmarket.market.bean.TbAppStore" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="down_count" property="downCount" jdbcType="INTEGER" />
    <result column="app_location" property="appLocation" jdbcType="VARCHAR" />
    <result column="icon_location" property="iconLocation" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="app_version_name" property="appVersionName" jdbcType="VARCHAR" />
    <result column="app_version_code" property="appVersionCode" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="VARCHAR" />
    <result column="package_name" property="packageName" jdbcType="VARCHAR" />
    <result column="order_by" property="orderBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="app_Type" property="appType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, app_name, down_count, app_location, icon_location, description, app_version_name, 
    app_version_code, file_size, package_name, order_by, create_time, update_time, uid, 
    create_by, update_by, create_date, update_date,app_Type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.appmarket.market.bean.TbAppStoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_app_store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="page != null" >
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_app_store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_app_store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.appmarket.market.bean.TbAppStoreExample" >
    delete from tb_app_store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.appmarket.market.bean.TbAppStore" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_app_store (app_name, down_count, app_location, 
      icon_location, description, app_version_name, 
      app_version_code, file_size, package_name, 
      order_by, create_time, update_time, 
      uid, create_by, update_by, 
      create_date, update_date,app_Type)
    values (#{appName,jdbcType=VARCHAR}, #{downCount,jdbcType=INTEGER}, #{appLocation,jdbcType=VARCHAR}, 
      #{iconLocation,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{appVersionName,jdbcType=VARCHAR}, 
      #{appVersionCode,jdbcType=VARCHAR}, #{fileSize,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, 
      #{orderBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{uid,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},#{appType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.appmarket.market.bean.TbAppStore" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_app_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appName != null" >
        app_name,
      </if>
      <if test="downCount != null" >
        down_count,
      </if>
      <if test="appLocation != null" >
        app_location,
      </if>
      <if test="iconLocation != null" >
        icon_location,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="appVersionName != null" >
        app_version_name,
      </if>
      <if test="appVersionCode != null" >
        app_version_code,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="packageName != null" >
        package_name,
      </if>
      <if test="orderBy != null" >
        order_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="appType != null" >
        app_Type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="downCount != null" >
        #{downCount,jdbcType=INTEGER},
      </if>
      <if test="appLocation != null" >
        #{appLocation,jdbcType=VARCHAR},
      </if>
      <if test="iconLocation != null" >
        #{iconLocation,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="appVersionName != null" >
        #{appVersionName,jdbcType=VARCHAR},
      </if>
      <if test="appVersionCode != null" >
        #{appVersionCode,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null" >
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null" >
        #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appType != null" >
        #{appType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.appmarket.market.bean.TbAppStoreExample" resultType="java.lang.Integer" >
    select count(*) from tb_app_store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_app_store
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appName != null" >
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.downCount != null" >
        down_count = #{record.downCount,jdbcType=INTEGER},
      </if>
      <if test="record.appLocation != null" >
        app_location = #{record.appLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.iconLocation != null" >
        icon_location = #{record.iconLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.appVersionName != null" >
        app_version_name = #{record.appVersionName,jdbcType=VARCHAR},
      </if>
      <if test="record.appVersionCode != null" >
        app_version_code = #{record.appVersionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fileSize != null" >
        file_size = #{record.fileSize,jdbcType=VARCHAR},
      </if>
      <if test="record.packageName != null" >
        package_name = #{record.packageName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderBy != null" >
        order_by = #{record.orderBy,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appType != null" >
        app_Type = #{record.appType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_app_store
    set id = #{record.id,jdbcType=INTEGER},
      app_name = #{record.appName,jdbcType=VARCHAR},
      down_count = #{record.downCount,jdbcType=INTEGER},
      app_location = #{record.appLocation,jdbcType=VARCHAR},
      icon_location = #{record.iconLocation,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      app_version_name = #{record.appVersionName,jdbcType=VARCHAR},
      app_version_code = #{record.appVersionCode,jdbcType=VARCHAR},
      file_size = #{record.fileSize,jdbcType=VARCHAR},
      package_name = #{record.packageName,jdbcType=VARCHAR},
      order_by = #{record.orderBy,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      uid = #{record.uid,jdbcType=INTEGER},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
    app_Type = #{record.appType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.appmarket.market.bean.TbAppStore" >
    update tb_app_store
    <set >
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="downCount != null" >
        down_count = #{downCount,jdbcType=INTEGER},
      </if>
      <if test="appLocation != null" >
        app_location = #{appLocation,jdbcType=VARCHAR},
      </if>
      <if test="iconLocation != null" >
        icon_location = #{iconLocation,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="appVersionName != null" >
        app_version_name = #{appVersionName,jdbcType=VARCHAR},
      </if>
      <if test="appVersionCode != null" >
        app_version_code = #{appVersionCode,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null" >
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null" >
        order_by = #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appType != null" >
        app_Type = #{appType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.appmarket.market.bean.TbAppStore" >
    update tb_app_store
    set app_name = #{appName,jdbcType=VARCHAR},
      down_count = #{downCount,jdbcType=INTEGER},
      app_location = #{appLocation,jdbcType=VARCHAR},
      icon_location = #{iconLocation,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      app_version_name = #{appVersionName,jdbcType=VARCHAR},
      app_version_code = #{appVersionCode,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      order_by = #{orderBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      app_Type = #{appType,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>